bidict
blinker
click
colorama
dnspython
eventlet
Flask
Flask-SocketIO
greenlet
gunicorn
h11
itsdangerous
Jinja2
MarkupSafe
packaging
python-engineio
python-socketio
simple-websocket
Werkzeug
wsproto